---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage
  frontmatter={{
    title: "v0.1.0",
    description: "Release notes for Ricochet v0.1.0",
  }}
>
  <p><strong>Released: January 23, 2026</strong></p>

  <p>
    Initial release
  </p>

</StarlightPage>
