---
const { hasSidebar } = Astro.locals.starlightRoute;

import LanguageSelect from "virtual:starlight/components/LanguageSelect";
import Search from "virtual:starlight/components/Search";
import SiteTitle from "virtual:starlight/components/SiteTitle";
import SocialIcons from "virtual:starlight/components/SocialIcons";
import ThemeSelect from "virtual:starlight/components/ThemeSelect";

import options from "virtual:starlight-theme-nova/user-config";
import MobileMenuToggle from "starlight-theme-nova/components/MobileMenuToggle.astro";

const nav = options.nav ?? [];

function getText(value: string | Record<string, string>): string {
  if (typeof value === "string") return value;
  const { lang } = Astro.locals.starlightRoute;
  return value[lang] ?? value["root"] ?? Object.values(value)[0] ?? "";
}
---

<div class="box-border flex h-full items-center gap-2">
  <div class:list={["-m-3 overflow-clip p-3", "flex min-w-0"]}>
    <SiteTitle />
  </div>
  <nav
    class="flex flex-1 flex-row gap-4 overflow-x-auto py-3 pr-4 pl-4 text-sm font-medium max-md:**:hidden xl:gap-6 xl:pl-6"
  >
    {
      nav.map((item) => (
        <a
          class="-m-1.5 rounded-md p-1.5 text-(--sl-color-gray-3) no-underline hover:text-(--sl-color-white) focus-visible:outline-offset-0"
          href={getText(item.href)}
        >
          {getText(item.label)}
        </a>
      ))
    }
  </nav>
  <div class="flex md:max-w-60 md:flex-1 print:hidden">
    <Search />
  </div>
  <div class="hidden items-center gap-2 md:flex print:hidden">
    <SocialIcons />
    <LanguageSelect />
    <ThemeSelect />
  </div>
  {
    hasSidebar && (
      <div class="flex items-center gap-2 md:hidden print:hidden">
        <a
          href="/releases/"
          class="flex size-8 rounded-md p-2 text-(--sl-color-text) transition hover:bg-gray-400/30 focus-visible:outline-offset-1 active:scale-90"
          aria-label="Release Notes"
          title="Release Notes"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M15 21h-9a2 2 0 0 1-2-2v-14a2 2 0 0 1 2-2h8l6 6v10a2 2 0 0 1-2 2z" />
            <path d="M14 2v6h6" />
            <path d="M12 18v-6" />
            <path d="M9.5 15.5 12 13l2.5 2.5" />
          </svg>
        </a>
        <MobileMenuToggle />
      </div>
    )
  }
</div>
